.table-bordered {
  border: 0px solid #ddd !important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border: none !important;
}
.breadcrumb{
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}
h1, .h1, h2, .h2, h3, .h3{
	margin-top: 10px !important;
  	margin-bottom: 10px !important;
}
.alert {
  margin-bottom: 15px;
  margin-top: 15px;
}