h1, .h1, h2, .h2, h3, .h3{
	margin-top: 10px !important;
  	margin-bottom: 10px !important;
}
.well {
    background-color: transparent !important;
    padding: 5px !important;
    margin: 5px;
}
.alert {
  margin-bottom: -15px !important;
  margin-top: 15px !important;
}
.nav .breadcrumb {
    margin: 0 7px;
    background-color: transparent;
}
.breadcrumb li a{
	color: #999999 !important;
}
.breadcrumb > .active{
	color: #fff !important;
}
.container-fluid > .navbar-header{
	width: 145px;
	border-right: 1px solid #9d9d9d;
}
#main-content{
  margin-top: 30px;
}
.modal-header {
  border-bottom: none !important;
}
.modal-header .pull-right{
  padding: 5px 10px;
}
.navbar {
    margin-bottom: 0px !important;
}
.summary{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.table > thead > tr > th > a{
  color: #000;
}
.table-bordered {
  border: 0px solid #ddd !important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  border: none !important;
}
.title-window{
  margin-bottom: 10px;
  border-bottom: 1px solid #9d9d9d;
}
.title-item-list{
  border-bottom: 1px solid #9d9d9d;
}
.item-list{
  margin-top: 5px;
  margin-bottom: 5px;
}
.vcenter .btn{
  margin-top: 15px;
}
#wrapper{
  border-top: 1px solid #9d9d9d;
}
@media (min-width: 768px) {
  .nav .breadcrumb {
      float: left;
      margin: 7px 10px;
  }
}
.text-color-danger{
  color: #a94442;
}
.text-color-info{
  color: #31708f;
}
.text-color-success{
  color: #3c763d;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}